<header>
    <div class="ba-header">
      <div class="ba-header-left">
        <div class="ba-icon-menu" id="btnMenu">
          <button type="button">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="ba-title-header">
          <h1>Google Books</h1>
        </div>
      </div>
      <div class="ba-header-right">
        <div class="ba-search-header">
          <input type="text" name="searchText" title="Buscador" placeholder="Buscar..." />
          <button type="button" id="btnSearch">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div class="ba-user-header">
          <i class="far fa-user-circle"></i>
        </div>
      </div>
    </div>
  </header>
