header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.ba-header {
    background-color: var(--background-header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ba-header-left {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: flex-start;
}

.ba-header-right {
    display: flex;
    align-items: center;
    width: 30%;    
    justify-content: flex-end;
}

.ba-icon-menu {
    padding: 10px;
    cursor: pointer;
}

.ba-icon-menu:hover {
    background-color: var(--background-header-color-hover);
}

.ba-icon-menu > button {
    border: none;
    background: none;
}

.ba-title-header {
    padding-left: 10px;
    padding-right: 10px;
}

.ba-title-header > h1 {
    margin: 0px;
    font-size: 1.5em;
}

.ba-search-header {
    position: relative;
}

.ba-search-header > button {
    position: absolute;
    top: 2px;
    background-color: transparent;
    border: none;
}

.ba-search-header > input {
    padding-left: 21px;
}

.ba-user-header{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}