<div id="leftSideMenu" class="left-side-menu">
  <ul id="listMenu" class="list-menu">
    <li class="li-profile hide-menu-select">
      <div id="userProfile" class="user-profile">
        <i class="fa fa-user-secret"></i>
        <h2 class="hide-menu-select">User Name</h2>
      </div>
    </li>
    <li class="li-menu">
      <div>
        <i class="fa fa-home"></i>
        <h3 class="hide-menu-select">Home</h3>
      </div>
    </li>
    <li class="li-menu">
      <div>
        <i class="fa fa-book"></i>
        <h3 class="hide-menu-select">Collection</h3>
      </div>
    </li>
    <li class="li-menu">
      <div>
        <i class="fa fa-star"></i>
        <h3 class="hide-menu-select"> Favorites</h3>
      </div>
    </li>
    <li class="li-menu">
      <div>
        <i class="fas fa-sign-out-alt"></i>
        <h3 class="hide-menu-select">Log Out</h3>
      </div>
    </li>
  </ul>
</div>