:root {
    --background-header-color: rgb(236, 236, 249, 1);
    --background-header-color-hover: rgba(121, 121, 133, 0.801);
    --text-header-color: rgb(5, 5, 15, 1);
    --border-card: rgba(7, 7, 7, 0.205);
    --background-card: #d3d3d3;
}

body {
    margin: 0;
}

.main-body {
    justify-content: flex-start;
    margin-top: 38px;
}