<body>
  <app-header></app-header>
  <section class="main-body">
    <div id="leftSideMenu" class="left-side-menu">
      <ul id="listMenu" class="list-menu">
        <li class="li-profile hide-menu-select">
          <div id="userProfile" class="user-profile">
            <i class="fas fa-user-secret"></i>
            <h2 class="hide-menu-select">User Name</h2>
          </div>
        </li>
        <li class="li-menu">
          <div>
            <i class="fas fa-home"></i>
            <h3 class="hide-menu-select">Home</h3>
          </div>
        </li>
        <li class="li-menu">
          <div>
            <i class="fas fa-book"></i>
            <h3 class="hide-menu-select">Collection</h3>
          </div>
        </li>
        <li class="li-menu">
          <div>
            <i class="fas fa-star"></i>
            <h3 class="hide-menu-select"> Favorites</h3>
          </div>
        </li>
        <li class="li-menu">
          <div>
            <i class="fas fa-sign-out-alt"></i>
            <h3 class="hide-menu-select">Log Out</h3>
          </div>
        </li>
      </ul>
    </div>
    <div class="ba-content">
      <div class="ba-breadcrumb">
        <ul class="breadcrumb">
          <li>
            <a class="bzbutton" href="#list.html">Home</a>
          </li>
          <li>
            <a href="#">Books</a>
          </li>
          <li>Books</li>
        </ul>
      </div>
      <div id="content">
        <div class="ba-card-content">
          <section class="content" id="books">
            <div class="ba-card">
              <div class="ba-card-tittle">
                <h3>Book one</h3>
              </div>
              <div class="ba-card-body">
                <img src="./images/no-image-icon-13.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus eros in dolor accumsan ultrices. Nulla
                  ornare sodales dui ac congue.
                </p>
                <a class="bzbutton" href="details.html">View Details</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</body>