<div class="ba-content">
    <router-outlet></router-outlet>
    <div class="ba-breadcrumb">
      <ul class="breadcrumb">
        <li>
          <a class="bzbutton" href="#list.html">Home</a>
        </li>
        <li>
          <a href="#">Books</a>
        </li>
        <li>Books</li>
      </ul>
    </div>
    <div id="content">
      <div class="ba-card-content">
        <section class="content" id="books">
          <div class="ba-card">
            <div class="ba-card-tittle">
              <h3>Book one</h3>
            </div>
            <div class="ba-card-body">
              <img src="./images/no-image-icon-13.png">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus eros in dolor accumsan ultrices. Nulla
                ornare sodales dui ac congue.
              </p>
              <a class="bzbutton" href="details.html">View Details</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
