h1 {
    color: var(--main-title-color);
    font-size: 2em;
    font-weight: bold;
}
.book-image {
    width: 300px;
}
.related {
    display: flex;
    overflow: auto;
    height: 160px;
}
.box {
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.suggested-books {
    width: 200px;
    margin: 8px;
    border: 1px solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.sugg-title {
    color: black;
}
.sugg-book {
    flex-grow: 1;
}
 
.sgg-img {
    width: 50%;
    height: 50%;
 
}
.footer-suggested {
    font-size: 14px;
    display: flex;
    border-top: 1px solid black;
    background-color: var(--main-style-color);
    border-radius: 0px 0px 7px 7px;
    color: black;
    justify-content: space-between;
    text-overflow: ellipsis;
}
.suggBtn {
    background-color: var(--main-style-color);
    border-color: var(--main-style-color);
}
.non-image {
    font-size: 89px;
}